  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1>Create a new announce</h1>

        <%= simple_form_for @announce do |f| %>
          <%= f.input :model %>
          <%= f.input :brand %>
          <%= f.input :photo %>
          <%= f.input :state %>
          <%= f.input :description %>
          <%= f.input :price_per_day %>
          <%= f.input :purchase_year %>
          <%= f.input :date_start %>
          <%= f.input :date_end %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
