

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">My bookings</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="rentings-tab" data-toggle="tab" href="#rentings" role="tab" aria-controls="rentings" aria-selected="false">Offers</a>

  </li>
    <li class="nav-item">
    <a class="nav-link" id="announces-tab" data-toggle="tab" href="#announces" role="tab" aria-controls="announces" aria-selected="false">My announces</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">

    <h2 class = "my-5 text-center">My Bookings</h2>
      <div class="container center offset-3" style="width: 900px">
      <div class="mr-6">

      <% @mybookings.each do |booking| %>
      <div class="card-product mb-3">
        <%= cl_image_tag booking.announce.photo %>
        <div class="card-product-infos ml-3">
          <h2 class ="ml-3 mt-4"><%= booking.announce.brand %></h2>
          <p class ="ml-3"> <%= booking.announce.model %></p>
           <p class ="ml-3"> <%= booking.date_start %></p>
          <br>
        </div>
        <div class ="ml-3">
      <p><%= booking.announce.state %></p>
         <% if booking.status != nil  %>
      <h2><%= booking.status %></h2>
      <% else %>
      <h2> En attente </h2>
      <% end %>
    </div>

    <h2 class="card-trip-pricing ml-5"><%= booking.announce.price_per_day %>€/day</h2>
        <div class="card-bottom-link ml-5">
                 <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete this booked phone?" } do %>
                  <i class="fa fa-trash destroy_booking ml"></i>
               <% end %>
              </div>
      </div>
    <% end %>
  </div>
  </div>
</div>

  <div class="tab-pane fade" id="rentings" role="tabpanel" aria-labelledby="rentings-tab">

    <h2 class = "my-5 text-center">My Offers</h2>
    <div class="container center offset-3" style="width: 900px">
      <div class="mr-6">
      <% if @myrentings != [] %>
    <% @myrentings.each do |booking| %>
      <div class="card-product my-3">
        <%= cl_image_tag booking.announce.photo %>
        <div class="card-product-infos">
          <h2><%= booking.announce.model %></h2>
          <h2><%= booking.announce.brand %></h2>
          <p><%= booking.announce.description %></p>
          <br>
          <% if booking.status == nil  %>
          <%= link_to "Accept", booking_accept_path(booking), class: "btn btn-success" %>
          <%= link_to "Decline", booking_decline_path(booking), class: "btn btn-danger" %>
          <% else  %>
          <%= booking.status %>
          <% end %>
        <% end%>
        </div>

      </div>
    <% end %>
  </div>
</div>
</div>
  <div class="tab-pane fade" id="announces" role="tabpanel" aria-labelledby="announces-tab">

      <h2 class = "my-5 text-center">My Announces</h2>
    <div class="container center offset-3" style="width: 900px">
      <div class="mr-6">
    <% @myannounces.each do |announce| %>
          <div class="card-product my-3">
            <%= cl_image_tag announce.photo %>
            <div class="card-product-infos">
              <h2><%= announce.model %></h2>
              <h2><%= announce.brand %></h2>
              <p><%= announce.description %></p>
              <br>
            </div>
          </div>
    <% end %>
    </div>
</div>
  </div>








